---
import ETHCHIBanner from "../../assets/images/brand/ethchi_banner.svg";
---

<header class="py-16 text-center bg-secondary-brand">
    <div class="bg-white">
        <ETHCHIBanner width={120} />
    </div>
</header>
