---
import { Image } from "astro:assets";
import ethchiLogo from "../../assets/images/brand/ethchi_logo.png";
---

<header class="py-16 text-center bg-secondary-brand">
    <div class="bg-white px-8 md:px-24 py-4">
        <Image src={ethchiLogo} width={180} alt="ethchi logo" class="mx-auto" />
    </div>
    <nav class="mt-6">
        <div class="flex justify-center space-x-8">
            <a href="/" class="text-white hover:text-primary-brand transition-colors font-medium">
                Home
            </a>
            <a href="/social-graph" class="text-white hover:text-primary-brand transition-colors font-medium">
                Social Graph
            </a>
        </div>
    </nav>
</header>
