<div class="py-16 text-center bg-white-brand flex flex-col items-center">
    <h1 class="text-4xl font-bold mb-4 text-primary-brand">
        On the Mission of Elevating Web3 Innovation & Entrepreneurship in the
        Midwest
    </h1>
    <div class="flex flex-col justify-center w-4/5">
        <p class="text-xl">
            ETHChicago is a Web3-native ecosystem that exists to help its
            community to connect, explore, build, and create the next frontier
            of the Internet.
        </p>
    </div>
</div>
