<div class="flex gap-4 justify-center">
    <a href="mailto:[email]" class="text-blue-600 hover:text-blue-800">
        Email
    </a>
    <a href="#" class="text-blue-600 hover:text-blue-800"> Discord </a>
    <a href="#" class="text-blue-600 hover:text-blue-800"> Instagram </a>
    <a href="#" class="text-blue-600 hover:text-blue-800"> Telegram </a>
    <a href="#" class="text-blue-600 hover:text-blue-800"> LinkedIn </a>
</div>
