---
import Layout from "../layouts/Layout.astro";
import Header from "../components/astro/Header.astro";
import Section from "../components/astro/Section.astro";
import Button from "../components/astro/Button.astro";
---

<Layout title="ETHChicago">
    <Header />
    <Section>
        <h1
            class="text-8xl font-bold mb-4 text-primary-brand w-3/5 text-center"
        >
            On the Mission of Elevating Web3 Innovation & Entrepreneurship in
            the Midwest
        </h1>
        <p class="text-2xl w-3/5 text-center pt-12">
            ETHChicago is a Web3-native ecosystem that exists to help its
            community to connect, explore, build, and create the next frontier
            of the Internet.
        </p>
    </Section>
    <Section class="bg-secondary-brand">
        <h1 class="text-8xl font-bold text-primary-brand">What We Do</h1>
        <p class="text-2xl w-3/5 text-center py-12">
            At ETHChicago, we empower individuals and organizations from across
            the Web3 ecosystem, and beyond, to explore and harnass the
            transformative potential of blockchain.
        </p>
        <div class="flex flex-row mt-8">
            <div class="flex flex-col text-center px-6 w-3/5">
                <h1 class="text-2xl font-bold text-primary-brand mb-4">
                    COMMUNITY
                </h1>
                <p>
                    ETHChicago is a gathering place for all of the Web3
                    community in the Midwest with the goal of exchanging ideas,
                    networking, building, and making friends.
                </p>
            </div>
            <div class="flex flex-col text-center px-6 w-3/5">
                <h1 class="text-2xl font-bold text-primary-brand mb-4">
                    EVENTS
                </h1>
                <p>
                    From the inaugural 2023 ETHChicago conference through
                    audience-specific side mixers, hackathons or X spaces, we
                    have done it all and have brought amazing partners along the
                    way!
                </p>
            </div>
            <div class="flex flex-col text-center px-6 w-3/5">
                <h1 class="text-2xl font-bold text-primary-brand mb-4">
                    LEADERSHIP
                </h1>
                <p>
                    Ranging from in-depth technical expertise through Web3
                    business strategy, legal and regulatory knowledge through
                    NFT strategy, ETHChicago is the focal point for all things
                    Web3 in the Midwest.
                </p>
            </div>
        </div>
    </Section>
    <Section class="bg-white">
        <h1 class="text-8xl font-bold text-primary-brand">Chicago Web3 Week</h1>
        <p class="text-2xl w-3/5 text-center py-12">
            Stay tuned for more news -- soon! - on the Chicago Web3 Innovation
            Week in partnership with 1871, the premier entrepreneurship center
            in the Midwest.
        </p>
    </Section>
    <Section class="bg-secondary-brand">
        <h1 class="text-8xl font-bold text-primary-brand">Partnerships</h1>
        <p class="text-2xl w-3/5 text-center py-12">
            ETHChicago serves as the ultimate connector across the Web3
            community and a broker for partnerships of all kinds, connecting
            developers and creatives with projects, entrepreneurs with
            strategists, and sponsors with best co-branded opportunities.
        </p>
        <div class="flex flex-row mt-8">
            <div class="flex flex-col text-center px-6 w-3/5">
                <h1
                    class="text-2xl font-bold text-primary-brand mb-4 tracking-widest"
                >
                    SPONSORSHIPS
                </h1>
                <p>
                    Join us as a sponsor and be part of the future! Support
                    groundbreaking events in Web3, where innovation, creativity,
                    and entrepreneurship converge. Showcase your brand to a
                    forward-thinking audience, build lasting partnerships, and
                    position your organization at the forefront of the digital
                    revolution.
                </p>
            </div>
            <div class="flex flex-col text-center px-6 w-3/5">
                <h1
                    class="text-2xl font-bold text-primary-brand mb-4 tracking-widest"
                >
                    ACTIVATIONS
                </h1>
                <p>
                    Through special projects, such as last winter’s NFT drop.
                    our Cyberjams, blending technology and art, or CSO
                    activations, we can support any cross-functional one-off
                    initiative.
                </p>
            </div>
            <div class="flex flex-col text-center px-6 w-3/5">
                <h1
                    class="text-2xl font-bold text-primary-brand mb-4 tracking-widest"
                >
                    WEB3 MARKETING
                </h1>
                <p>
                    ETHChicago has in-house social media and digital marketing
                    experts with expertise in Web3 community building and
                    membership management that can help our community and
                    partners tap into the untapped potential of Web3 via both
                    Web2 and Web3-native marketing tools.
                </p>
            </div>
        </div>
    </Section>
    <Section>
        <h1 class="text-primary-brand text-8xl font-bold">Humans Behind</h1>
        <div class="grid-cols-2">
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
        </div>
    </Section>
    <div
        class="py-24 flex flex-col w-full h-full justify-center items-center bg-secondary-brand"
    >
        <h1 class="text-primary-brand text-8xl font-bold">Get Involved</h1>
        <p class="text-2xl w-3/5 text-center py-12">
            For volunteering, partnership, or sponsorship opportunities, please
            reach out at ecosystem@ethchicago.xyz. Let's shape the future of
            Web3 together!
        </p>
        <div class="flex flex-row w-full items-center justify-center space-x-8">
            <Button>NEWSLETTER</Button>
            <Button>JOIN OUR EVENTS</Button>
        </div>
    </div>
</Layout>
