---
import Layout from "../layouts/Layout.astro";
import Header from "../components/astro/Header.astro";
---

<Layout title="ETHChicago">
    <Header />

    <div class="py-16 text-center bg-white-brand flex flex-col items-center">
        <h1 class="text-4xl font-bold mb-4 text-primary-brand">
            On the Mission of Elevating Web3 Innovation & Entrepreneurship in
            the Midwest
        </h1>
        <div class="flex flex-col justify-center w-4/5">
            <p class="text-xl">
                ETHChicago is a Web3-native ecosystem that exists to help its
                community to connect, explore, build, and create the next
                frontier of the Internet.
            </p>
        </div>
    </div>

    <div class="bg-secondary-brand p-8">
        <div class="grid md:grid-cols-3 gap-6"></div>
    </div>

    <div class="bg-gray-100 p-8 rounded-lg">
        <p class="text-lg">
            Stay tuned for more news - soon! - on the Chicago Web3 Innovation
            Week in partnership with 1871, the premier entrepreneurship center
            in the Midwest.
        </p>
    </div>

    <div class="grid md:grid-cols-3 gap-6"></div>

    <div class="text-center">
        <p class="text-lg mb-6">
            For volunteering, partnership, or sponsorship opportunities, please
            reach out at [email]. Let's shape the future of Web3 together!
        </p>
    </div>
</Layout>
