---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <link rel="manifest" href="/favicon/site.webmanifest" />
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="ETHChicago - Web3 community in Chicago and the Midwest" />
        <title>{Astro.props.title || "ETHChicago"}</title>
    </head>
    <body class="font-sans bg-primaryBackground text-primaryType antialiased min-h-screen">
        <slot />
    </body>
</html>
